body{
	background-color: yellow;
}

#first_font{
	font-family: 'Over the Rainbow', cursive;

}
#second_font{
	font-family: 'Loved by the King', cursive;
}
#third_font{
	font-family: 'Miniver', cursive;
}